<div class="top-menu-info-details-container">
    <div class="content-kp">
        <div class="close-button c-k-c-b-close-button"><img src="/mykplus/KplusWebPlayer/img/buttons/close_popup_icon.png" />
        </div>
        <div class="top-menu-container">
            <div class="first-m textid-10 c-k-t-m-c-first-m">Info</div>
            <div class="second-m textid-11 c-k-t-m-c-second-m">Broadcast schedule</div>
        </div>
        <br/>
        <div class="content-info-details">
            <span class="info-details-prog-title">title</span>
            <br/>
            <span class="info-details-prog-subtitle">Subtitle</span>
            <br/>
            <span class="info-dtals-prog-gnr-lbl textid-17">Genre: </span>
            <span class="info-dtals-prog-gnr-val">Genre</span>
            <br/>
            <br/>
            <span class="info-details-prog-broadcast-info-label textid-12">BroadCast Info: </span><span class="info-details-prog-broadcast-info-val"></span>
            <br/>
            <span class="info-details-prog-director-label textid-13">Director: </span><span class="info-details-prog-director-val"></span>
            <br/>
            <span class="info-details-prog-cast-label textid-14">Cast: </span><span class="info-details-prog-cast-val"></span>
            <br/>
            <br/>
            <div class="synopsis-cont"><span class="info-details-prog-synopsis-label textid-15">Synopsis: </span><span class="info-details-prog-synopsis-val"></span>
            </div>
        </div>
        <div class="content-info-broadcast-sch-details">
            <span class="info-details-prog-title">title</span>
            <br/>
            <br/>
            <div class="info-broadcast-sch-dates-cnt">
            </div>
        </div>
    </div>
</div>