<div class="top-menu-lang-details-container">
    <div class="close-button c-k-c-b-close-button"><img src="/mykplus/KplusWebPlayer/img/buttons/close_popup_icon.png" />
    </div>
    <br />
    <div class="content-kp">
        <div class="textid-0" style="width:100%;text-align:center;font-weight:bold; margin-bottom:10px">Language</div>
        <div class="outer-lang-vt-div">
            <div class="lang-vt-div">
                <div class="veitnamese-text textid-4">Vietnamese</div>
                <div style="cursor:pointer;float:right;"><img src="/mykplus/KplusWebPlayer/img/buttons/uncheck_radio_button.png" />
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="outer-lang-en-div">
            <div class="lang-en-div">
                <div class="english-text textid-5">Original</div>
                <div style="cursor:pointer;float:right;"><img src="/mykplus/KplusWebPlayer/img/uncheck_radio_button.png" />
                </div>
            </div>
        </div>
        <br/>
        <br/>
    </div>
</div>