<div class="custom-video-controls-w">
    <div class="kweb-vid-cntrls-startover-btn"><img class="kweb-vid-cntrls-startover-btn-img" src="/ottservices/KplusWebPlayer/img/buttons/tab_replay.png" /></div>
    <!--<button class="vid-cntrl-startover-bttn" data-state="startover-btn-on" type="button"></button>-->
    <button class="vid-cntrl-play-pause-bttn" data-state="play" type="button"></button>
    <div class="progress-prog-start-time"></div>
    <div class="progress-bar-kp-cnt">
        <div class="progress-bar-kp">
            <div class="kp-vid-progressbar-timer"></div>
            <div class="kp-vid-progressbar-left"></div>
            <img class="kp-vid-progressbar-seek-pointer" src="/ottservices/KplusWebPlayer/img/buttons/seek_point.png" />
            <div class="kp-vid-progressbar-middle"></div>
            <div class="kp-vid-progressbar-right"></div>
        </div>
        <div class="progress-bar-overlayed" style="display:none;">
            <div class="progress-bar-kp-secondary">
                <div class="kp-vid-progressbar-left-secondary"></div>
                <!-- <img class="kp-vid-progressbar-seek-pointer kp-vid-progressbar-seek-pointer-secondary" src="/mykplus/KplusWebPlayer/img/buttons/seek_point.png" /> -->
                <div class="kp-vid-progressbar-middle-secondary"></div>
                <!-- <div class="kp-vid-progressbar-right kp-vid-progressbar-right-secondary"></div> -->
            </div>
        </div>
    </div>
    <div class="progress-prog-end-time"></div>
    <div class="volume-cntrl">
        <div class="volume-progressbar-container" data-state="hidden">
            <div class="volume-progressbar">
            <div class="prog-vol-bckgrnd"></div>
            <div class='prog-vol-clickable'></div>
            <div class="progress-grn-prog-bar"></div>
            </div>
        </div>
        <button class="vol-vol-mute-btn" data-state="volume" type="button" />
    </div>
    <button class="vid-cntrl-fullScrn-bttn" data-state="do-fullscreen" type="button" />
</div>