<div class="video-container" id="video-container">
    <div class="preloading-splash-scrn-wrapper">
        <div class="preloading-splash-scrn"></div>
    </div>
    <div class="channel-top-bar">
        <div class="top-bar-channel-logo"><img id="top-bar-channel-logo">
        </div>
        <div class="program-epg">
            <div style="width: 100%;overflow-x: hidden;text-align: right">
                <div style="text-align: left; display:inline-block">
                    <div class="title"></div>
                    <div class="timings"></div>
                </div>

            </div>

        </div>
    </div>
    <div class="plyr-cnt-cnt-outer" style="background:black;height:610px;width: 100%">
        <div class="plyr-cnt-cnt" style="background:black;height:100%;width:100%;position:relative;overflow:hidden">
            <div id="plyr-grid-2367" style="height:inherit"></div>
        </div>
    </div>


    <br/>
</div>