<div class="row-kp bar">
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
</div>
<div class="row-kp spacebar">
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
    <div class="b-hr">&nbsp;</div>
</div>