<div class="fngrprnt-blk">
    <div class="fngrprnt-blk__tbl-fp">
        <div class="fngrprnt-blk__tbl-fp__row">
            <div class="fngrprnt-blk__tbl-fp__c1"><span class="fngrprnt-blk__tbl-fp__c1__txt">position 1</span></div>
            <div class="fngrprnt-blk__tbl-fp__c2"><span class="fngrprnt-blk__tbl-fp__c2__txt">position 2</span></div>
            <div class="fngrprnt-blk__tbl-fp__c3"><span class="fngrprnt-blk__tbl-fp__c3__txt">position 3</span></div>
        </div>
        <div class="fngrprnt-blk__tbl-fp__row">
            <div class="fngrprnt-blk__tbl-fp__c4"><span class="fngrprnt-blk__tbl-fp__c4__txt">position 4</span></div>
            <div class="fngrprnt-blk__tbl-fp__c5"><span class="fngrprnt-blk__tbl-fp__c5__txt">position 5</span></div>
            <div class="fngrprnt-blk__tbl-fp__c6"><span class="fngrprnt-blk__tbl-fp__c6__txt">position 6</span></div>
        </div>
        <div class="fngrprnt-blk__tbl-fp__row">
            <div class="fngrprnt-blk__tbl-fp__c7"><span class="fngrprnt-blk__tbl-fp__c7__txt">position 7</span></div>
            <div class="fngrprnt-blk__tbl-fp__c8"><span class="fngrprnt-blk__tbl-fp__c8__txt">position 8</span></div>
            <div class="fngrprnt-blk__tbl-fp__c9"><span class="fngrprnt-blk__tbl-fp__c9__txt">position 9</span></div>
        </div>
    </div>
</div>