<div class="broadcast-schedule-container">
    <div class="next-button-container">
        <div class="next-button b-s-c-next-button"><div class="nextEPGnextTxt textid-16">NEXT</div><img src="/mykplus/KplusWebPlayer/img/buttons/slide_toggle.png" />
        </div>
    </div>
    <div class="right-border-div"></div>
    <div class="left-scroll-button b-s-c-left-scroll-button" ><img src="/mykplus/KplusWebPlayer/img/buttons/scroll_left_button.png" />
    </div>
    <div class="broadcast-content nxt-btn-epg-scroll-cnt">
        <div>broadcast shcedule placeholder sdfsdfsdf sdfsdfsdf sdfsdfsdf sdfsdf dddddddddddddddddddddd</div>
    </div>
    <div class="right-scroll-button b-s-c-right-scroll-button"><img src="/mykplus/KplusWebPlayer/img/buttons/scroll_right_button.png" />
    </div>
    <div class="left-border-div"></div>
    <div class="close-bar-button b-s-c-close-bar-button"><img src="/mykplus/KplusWebPlayer/img/buttons/x_close.png" />
    </div>
</div>