<div class="kplus-video-overlay">
    <div class="plyr-build-no">Build version 0.1.52</div>
    <div class="vidDetAspCnt" style="display:none;position: absolute; font-size:13px;left: 87%;top: 50%;transform: translate(-50%,-50%);">
        <span style="position: relative;background-color: black;color: white">Bitrate: <span class="vidDetBps"></span></span>
        <br/>
        <span style="position: relative;background-color: black;color: white">Aspect Ratio: <span class="vidDetAsP"></span></span>
    </div>
    <div class="kplus-top-menu">
        <div data-val="1" class="kplus-menu-button kplus-menu-button-btn lang-tp-menu-item">
            <p class="top-menu-p textid-0" style="margin:5px">Language</p>
        </div>
        <div data-val="2" class="kplus-menu-button kplus-menu-button-btn">
            <p class="top-menu-p textid-1" style="margin:5px">Quality</p>
        </div>
        <div data-val="3" class="kplus-menu-button kplus-menu-button-btn">
            <p class="top-menu-p textid-2" style="margin:5px">Info</p>
        </div>
        <div data-val="4" class="kplus-menu-button kplus-menu-button-btn">
            <p class="top-menu-p textid-3" style="margin:5px">myK+</p>
        </div>
    </div>

    <div style="clear:both" />

    <div class="central-content-popup" />


    <div class="base-container">


    </div>


</div>