<div class="top-menu-quality-details-container">
    <div class="content-kp">
        <div class="close-button c-k-c-b-close-button">
            <img src="/mykplus/KplusWebPlayer/img/buttons/close_popup_icon.png"/>
        </div>
        <br/>
        <b class="video-quality-title textid-6">Video Quality</b>
        <br/>
        <br/>

        <div class="stream-bandwidth textid-7">Current bandwidth kbps</div>
        <div style="clear:both"></div>
        <div class="upper-line-bar"></div>
        <div id="chart-container">
            <div class="bitrate-text"/>
            <div id="realtime-bitrate-chart"/>
        </div>
        <div class="lower-line-bar"></div>
        <div class="vid-buffer-vid-band-cont">
            <div class="video-buffer-duration-container">
                <div class="upper-label textid-8">Video buffer duration</div>
                <div class="video-buffer-progressbar">
                    <div class="buffer-inner-bars-container">
                        <div data-val="1" class="p-1 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="2" class="p-2 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="3" class="p-3 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="4" class="p-4 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="5" class="p-5 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="6" class="p-6 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="7" class="p-7 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="8" class="p-8 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="9" class="p-9 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="10" class="p-10 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="11" class="p-11 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="12" class="p-12 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="13" class="p-13 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="14" class="p-14 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="15" class="p-15 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="16" class="p-16 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="17" class="p-17 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="18" class="p-18 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="19" class="p-19 progress-buffer-bars-bars">&nbsp;</div>
                        <div data-val="20" class="p-20 progress-buffer-bars-bars">&nbsp;</div>
                    </div>
                </div>
                <div class="buffered-time">4 seconds</div>
            </div>
            <div class="bandwidth-limit-container">
                <div class="lable textid-9">Limit Bandwidth</div>
                <div class="bandwidth-progressbar-container">
                    <div class="bandwidth-inner-bars-container">
                        <div class="bandwidth-backgrnd-bar"></div>
                        <div class="bandwidth-clikable-bar"></div>
                        <div class="bandwidth-prgrss-bar"></div>
                    </div>
                </div>
                <div class="selected-bandwidth-rate">10 kbps</div>
            </div>
        </div>
        <div style="margin-bottom:5px;clear:both"></div>
        <br/>
    </div>
</div>