<div class="kweb-startover-container">

    <div class="kweb-startover-close-bar-btn"><img class="kweb-startover-close-bar-btn-img" src="/mykplus/KplusWebPlayer/img/buttons/x_close.png" />
    </div>
    <div class="kweb-startover-right-border-div"></div>
    <div class="kweb-startover-left-scroll-btn" ><img class="kweb-startover-left-scroll-btn-img" src="/mykplus/KplusWebPlayer/img/buttons/scroll_left_button.png" />
    </div>
    <div class="kweb-startover-contents-container">

    </div>
    <div class="kweb-startover-right-scroll-btn"><img class="kweb-startover-right-scroll-btn-img" src="/mykplus/KplusWebPlayer/img/buttons/scroll_right_button.png" />
    </div>
    <div class="kweb-startover-left-border-div"></div>
    <div class="kweb-startover-btn-container">
        <div class="kweb-startover-btn"><div class="kweb-startover-text textid-21">START-OVER</div><img class="kweb-startover-btn-img" src="/mykplus/KplusWebPlayer/img/buttons/recurring-icon.png" />
        </div>
    </div>
</div>